body {
    margin: 0;
    padding: 0;
    background: white;
    color: black;
}

svg {
    fill: white;
    position: fixed;
    width: 100%;
    height: 100%;
}

#grid line {
    stroke: black;
    stroke-width: 0.075;
}

#mark-o {
    stroke: #000080;
    stroke-width: 0.15;
    fill: none;
}

#mark-x {
    stroke: #800000;
    stroke-width: 0.15;
    fill: none;
    stroke-linecap: round;
}

#click-target {
    cursor: pointer;
}

@keyframes popin {
    0% { transform: scale(0.0) }
    80% { transform: scale(1.1) }
    100% { transform: scale(1.0) }
}

.last-move > use {
    animation: popin 0.3s ease;
}

@keyframes dash {
    from { stroke-dashoffset: 5; }
    to { stroke-dashoffset: 0; }
}

.winning-stroke {
    stroke: green;
    stroke-width: 0.1;
    stroke-dasharray: 5;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash 0.5s ease 0.25s backwards;
}
